@import "tailwindcss";

@theme {
	--font-sans: "Outfit", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
		Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
}

html,
body {
	font-family: var(--font-sans);
}
